<h4>Welcome To Home Page</h4>

<%= form_tag root_path do %>
  <%= select_tag :category, options_for_select([["Select",""]]+Category.all.map{|a| [a.name, a.id]}), :onchange => "category1(this.value)" %>
<% end %>

<div id="category1">
  <%= render :partial => "category" %>
</div>


<script>
  function category1(val){
  var category = val;
  $.ajax({
    type: 'GET',
    url: '/homes/category',
    dataType: 'Script',
    data: {
      category_id: category
    },
    success: function(data) {},
  });
  }
</script>