<h4>Welcome To Home Page</h4>
 


 <%= render :partial => "layouts/slider"%>
 <!--  
<% Category.where("name is not null and category_show = #{true}").each do |cat| %>

	<%= link_to cat.name, home_path(cat) %><br/>
	<% end %>
	