<h4>Welcome To Home Page</h4><br><br><br><br>
<div class="aa">
 <%= link_to "Sign In", user_session_path, :class => "btn btn-primary btn-lg" %> 
  
</div>

<style>
  
  .aa{
    
   margin-left:38px;  
  }
 
  
</style>